@require 'jeet'
@import '../components/variables'
@import '../components/base'

.g-html

    .g-sidebar
        position:fixed
        background-color:#222d32
        height:100%
        width:250px
        z-index:9
        left:0
        top:0
        transition: transform .4s
        transform: translateX(-100%)

    .g-container
        height:100%

    .g-content

        margin:0 auto
        max-width:desktop

        @media ( max-width: desktop )
            max-width:tablet-landscape
        @media ( max-width:tablet-landscape )
            max-width:tablet
        @media ( max-width:tablet )
            max-width:phone-landscape
        @media ( max-width:phone-landscape )
            center( auto, pad:50px )
