.gl-menu
	padding: 20px 0

.gl-menu ul
	list-style: none
	margin-bottom: 25px

.gl-menu .title
	padding: 5px 20px
	font-weight: bold
	margin-bottom: 10px

.gl-menu a
	position: relative
	border-bottom: 1px solid #dedede
	display: block
	padding: 8px 20px 10px
	text-decoration: none
	color: #E8345A

.gl-menu a:hover
	background-color: #ededed

.gl-menu a:hover:after
	transform: rotateZ(0deg)

.gl-menu a:after
	font-size: 18px
	content: '›'
	position: absolute
	line-height: 80%
	right: 15px
	width: 5px
	height: 20px
	transform: rotateZ(90deg)
	transition: transform 0.2s
