{% extends 'layouts/guideline/default.njk' %}
{% import 'components/buttons/button.njk' as button %}

{% set app = "buttons" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/dist/css/home.css" type="text/css" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/assets/dist/js/guideline/buttons.min.js" async></script>
{% endblock %}

{% block content %}

	<div class="gl-markdown">
		{% filter markdown %}
			## Base Button
		{% endfilter %}
	</div>

	<div class="gl-component">
		{{ button.primary() }}
	</div>

	<div class="gl-markdown">
		{% filter markdown %}
			## Base Button ( Desabilitado )
		{% endfilter %}
	</div>

	<div class="gl-component">
		{{ button.primary( disabled = true ) }}
	</div>

	<div class="gl-markdown">
		{% filter markdown %}
			## Base Button ( Invertido )
		{% endfilter %}
	</div>

	<div class="gl-component">
		{{ button.primary( inverted = true ) }}
	</div>


{% endblock %}
