<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Component Page</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/dist/css/pages/guideline.css" />

	<%site.component.css.forEach(function(url){%>
		<link rel="stylesheet" type="text/css" href="/css/<%=url%>" />
	<%});%>
	<script type="text/javascript" id="main-script" src="/js/<%=site.component.js%>"></script>

</head>

	<body>
		<%- site.content %>
    </body>

</html>
