<!DOCTYPE html>
<html lang="pt-BR" class="g-html ">
<head>

	<title>
		{% block title %} Guideline Page {% endblock %}
	</title>

	{% include 'components/guideline/head.njk' %}

	{% block style %}

	{% endblock %}

	{% block javascript %}
		<script type="text/javascript" id="main-script" src="/assets/dist/js/main.min.js" data-application="/assets/dist/js/guideline.min.js"></script>
	{% endblock %}

</head>

	<body data-app="guideline" class="g-body">

		<header class="g-header">
			<div class="g-content">
				{% filter markdown %}
					{% block header %}{% endblock %}
				{% endfilter %}
			</div>
		</header>

		<main class="g-container">

			<section class="g-sidebar" data-component="g-sidebar">
				{% include 'components/guideline/sidebar.njk' %}
			</section>

			<section class="g-content">
				{% filter markdown %}
					{% block content %}{% endblock %}
				{% endfilter %}
			</section>

		</main>

	</body>

</html>
