{% import 'macros/jails.njk' as jails %}

<!DOCTYPE html>
<html lang="pt-BR" class="g-html ">
<head>

	<title>
		{% block title %} Guideline Page {% endblock %}
	</title>

	{% include 'components/guideline/head.njk' %}

	{% block style %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css">
	{% endblock %}

	{% block javascript %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js" async></script>
		<script type="text/javascript" id="main-script" src="/assets/dist/js/main.min.js" data-application="/assets/dist/js/guideline.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	{% endblock %}

</head>

	<body class="g-body" {{ jails.app("guideline") }}>

		<header class="g-header">
			<div class="g-content">
				{% block header %}{% endblock %}
			</div>
		</header>

		<main class="g-container">

			<section class="g-sidebar" data-component="g-sidebar">
				{% include 'components/guideline/sidebar.njk' %}
			</section>

			<section class="g-content">
				{% block content %}{% endblock %}
			</section>

		</main>

	</body>

</html>
