.gl-menu

	padding: 20px 0

	ul
		list-style: none
		margin-bottom: 25px

	.title
		padding: 5px 20px
		font-weight: bold
		margin-bottom: 10px
	a
		position: relative
		border-bottom: 1px solid #dedede
		display: block
		padding: 8px 20px 10px
		text-decoration: none
		color: main-color

		&:hover
			background-color: #ededed
			&:after
				transform: rotateZ( 0deg )

		&:after
			font-size: 18px
			content:'›'
			position: absolute
			line-height: 80%
			right: 15px
			width: 5px
			height: 20px
			transform: rotateZ( 90deg )
			transition: transform .2s
