.button
	background-color: #E8345A
	border: 1px solid transparent
	color: #fff
	border-radius: 30px
	padding: 15px 40px
	display: block
	cursor: pointer
	outline: none
	font-size: 15px

.button:hover:not([disabled])
	background-color: transparent
	color: #E8345A
	border-color: #E8345A

.button[disabled]
	background-color: #E8345A
	border: 1px solid transparent
	color: #fff
	background-color: rgba(232,52,90, .5)

.button.-inverted
	background-color: transparent
	border: 1px solid #E8345A
	color: #E8345A
.button.-inverted:hover
	background-color: #E8345A
	color: #fff
