<nav class="gl-menu">
	<ul>
		<li class="title">StyleGuide</li>
		<li><a href="/docs">Docs</a></li>
		<li><a href="/guideline/services">Services</a></li>
	</ul>
	<ul>
		<li class="title">Components</li>
		<li><a href="/guideline/buttons">Buttons</a></li>
	</ul>
</nav>
