{% extends 'layouts/guideline/guideline.njk' %}

{% block header %}
	<h1>404 / Not found</h1>
{% endblock %}

{% block content %}
	<div class="gl-markdown">
		<h1 class="gl">Oops, the page you've requested doesn't exist</h1>
	</div>
{% endblock %}
