{% extends 'layouts/guideline/documentation.njk' %}

{% block style %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/pages/guideline/sample.css"  />
{% endblock %}

{% block header %}

	{% filter markdown %}
		# Menus
		### Todas as variações de Menu que possuem no site.
	{% endfilter %}

{% endblock %}

{% block content %}

	{% filter markdown %}
		> ## Sticky Menu
		> Toggleable, contextual menu for displaying lists of links.<br />
		> Made interactive with the dropdown JavaScript plugin.
	{% endfilter %}

	<section class="g-example">
		{% include 'components/menu/stick-menu.njk' %}
	</section>

	{% filter markdown %}
		```html
			{% include 'components/menu/stick-menu.njk' %}
		```
	{% endfilter %}

{% endblock %}
