{% extends 'site/layouts/default/index.njk' %}

{% block styles %}
	<link rel="stylesheet" href="/site/home/index.css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" id="main-script" src="/main.js" data-application="/site/home/index.js" async></script>
{% endblock %}

{% block content %}

	<section class="wrapper" data-component="home">

		<header class="header">
			<h1>Header</h1>
		</header>

		<aside class="sidebar">Sidebar</aside>

		<section class="content">

			<h1>Welcome Home!</h1>

			{% for i in range(10) %}
				<p>lorem ipsum</p>
			{% endfor %}

			<p>The last Lorem ipsum</p>

		</section>
	</section>

{% endblock %}
