{% macro app( name ) -%}
	data-app="{{name}}"
{%- endmacro %}

{% macro controller( name ) -%}
	data-controller="{{name}}"
{%- endmacro %}

{% macro component( name ) -%}
	data-component="{{name}}"
{%- endmacro %}
