@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,500,500i,700,700i')
@import 'guideline/layouts'
@import 'guideline/components/markdown/'
@import 'guideline/components/menu/'

.gl-header
	color: #fff
	font-family: 'Open Sans'
	box-shadow: 1px 4px 6px -2px rgba(0,0,0,0.4)
	background-size: cover
	background-image: url(//images5.alphacoders.com/311/311276.jpg)

.gl-header h2.gl
	font-weight: normal

.gl-header:after
	content: ''
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #E8345A
	opacity:.9

.gl-header .gl-holder
	position: relative
	z-index: 3

.gl-sidebar h2.gl
	font-weight: 200

.gl-menu
	font-size: 12px
	font-family: 'Open Sans'

.gl-menu .title
	text-transform: uppercase

.gl-full,
.gl-full .gl-header
	height: 100%

.gl-content h2.gl
	padding: 10px 0
	border-bottom: 1px solid #ededed
	font-weight: normal

.gl-content pre.gl
	margin-bottom: 50px

.gl-component
	border: 1px solid #ededed
	border-radius: 4px
	margin: 25px 0
	padding: 15px 15px
