{% extends 'layouts/default.njk' %}
{% from 'components/jails.njk' import component %}

{% block styles %}
	<link rel="stylesheet" href="/assets/dist/css/home.css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" id="main-script" src="/assets/dist/js/main.min.js" data-application="/assets/dist/js/home.min.js" async></script>
{% endblock %}

{% block content %}

	<section class="wrapper" {{component("home")}}>

		<header>
			<h1>Header</h1>
		</header>

		<aside class="sidebar">Sidebar</aside>

		<section class="content">

			<h1>Welcome Home!</h1>

			{% for i in range(10) %}
				<p>lorem ipsum</p>
			{% endfor %}

			<p>The last Lorem ipsum</p>

		</section>
	</section>

{% endblock %}
