{% extends 'layouts/guideline/documentation.njk' %}

{% set service 	 = api('guideline/get-component') %}
{% set component = service( request.query.url ) %}

{% block header %}
	<h1>{{ request.query.url.split('/').pop() }}</h1>
	<p><a href="#" class="g-link-source">&lt; source /&gt;</a></p>
	<div class="litemodal" data-component="litemodal">
		<div class="m-body">
			<a href="#/modal-close" rel="modal-close" class="close">×</a>
			<div class="g-source">
				<textarea readonly></textarea>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<section data-component="g-resize">
		{% include 'components/guideline/ruler.njk' %}
		<section class="g-device -phone">
			<div class="g-device-inner">
				<iframe src="components/guideline/component?url={{ request.query.url }}&r={{ [1,2,3,4,5,6] | random }}"></iframe>
			</div>
		</section>
	</section>
{% endblock %}
