{% extends 'layouts/guideline/documentation.njk' %}

{% block header %}

# Living Styleguide
The Living Style Guide is a resource for designers, developers and product managers.<br />
Use it to maintain modular front-end code and visual concistency.

{% endblock %}

{% block content %}

# /Index

{% endblock %}
