{% extends 'layouts/guideline/documentation.njk' %}

{% block header %}

	{% filter markdown %}
		# Living StyleGuide
		### Documentation's page
	{% endfilter %}

{% endblock %}

{% block content %}
	{{ markdown | markdown }}
{% endblock %}
