{% extends 'layouts/guideline/documentation.njk' %}

{% block header %}

# Living StyleGuide
Documentation's page

{% endblock %}

{% block content %}
	<section class="g-markdown">{{ markdown }}</section>
{% endblock %}
