<nav class="stick-menu" {{ jails.controller('stick-menu') }}>
	<ul>
		<li><a href="#/1" {{ jails.component('button') }}>1</a></li>
		<li><a href="#/2" {{ jails.component('button') }}>2</a></li>
		<li><a href="#/3" {{ jails.component('button') }}>3</a></li>
	</ul>
</nav>
