{% import 'components/head.njk' as head %}
{% import 'components/guideline/menu/menu.njk' as menu %}

<!DOCTYPE html>
<html lang="pt-BR" class="gl-html">
<head>

	<title>
		{% block title %} Guideline Page {% endblock %}
	</title>

	{{ head.metatags() }}

	{% block styles %}
		<link rel="stylesheet" href="/guideline/guideline.css" />
	{% endblock %}

	{% block scripts %}
		<script type="text/javascript" id="main-script" src="/main/main.min.js" data-application="/guideline/guideline.min.js" async></script>
	{% endblock %}

</head>

	<body class="gl-body" data-component="{{ 'guideline ' + app if app else 'guideline' }}">

		{% block aside %}
			<aside class="gl-sidebar">
				{{ menu.sidebar() }}
			</aside>
		{% endblock %}

		<section class="gl-container {{ "gl-full" if full }}">

			<header class="gl-header">
				<div class="gl-holder">
					<h2 class="gl">Styleguide /</h2>
					<h1 class="gl">{% block header %}Guideline{% endblock %}</h1>
				</div>
			</header>

			<div class="gl-holder gl-content">
				{% block content %}{% endblock %}
			</div>

		</section>

	</body>

</html>
