@import '//rawgit.com/Javiani/Litemodal/master/css/litemodal.min.css'
@import '../layouts/guideline'
@import '../components/typography'

@import '../components/guideline/*'

.litemodal

    &.open
        display:block

    .close
        font-size:45px
        text-align:right
        display:block
        margin-top:-50px
        position:absolute
        right:10px
        top:0

    .m-body
        width:60%
        position:relative
        overflow:visible
