<div class="g-ruler">
    <div class="item -desktop">
        <a href="#" data-value="-desktop">Desktop</a>
        <div class="item -tablet-landscape">
            <a href="#" data-value="-tablet-landscape">Tablet Landscape</a>
            <div class="item -tablet">
                <a href="#" data-value="-tablet">Tablet Portrait</a>
                <div class="item -phone-landscape">
                    <a href="#" data-value="-phone-landscape">Phone Landscape</a>
                    <div class="item -phone">
                        <a href="#" data-value="-phone" class="-active">Phone Portrait</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
