<%
	var navigation = api('guideline/get-navigation');
%>
<nav>
	<a href="#" class="g-sidebar-button"><i class="fa fa-bars"></i></a>
	<ul class="g-sidebar-menu">
		<li class="g-sidebar-header">MAIN NAVIGATION</li>
		<% navigation.forEach(function(nav){ %>
			<% if( nav.items.length ){ %>
				<li>
					<a href="#" class="g-js"><i class="fa <%=nav.icon%>"></i> <span><%=nav.section%></span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="g-sidebar-submenu">
						<% nav.items.forEach(function(item){%>
							<li>
								<a href="<%=item.link%>" target="<%=item.target%>">
									<i class="fa fa-angle-right"></i>
									<%=item.name%>
								</a>
							</li>
						<%})%>
					</ul>
				</li>
			<%}%>
		<% }); %>
	</ul>
</nav>
