{% extends 'layouts/institucional.njk' %}

{% set title = "Home" %}
{% set app 	 = "home" %}

{% block content %}
	<section class="main">

		<aside class="sidebar">
			Sidebar
		</aside>

		<section class="content">
			<h1>Home</h1>
		</section>

	</section>
{% endblock %}
