.gl-markdown
	font-family: 'Open Sans'

.gl-markdown h1.gl,
.gl-markdown h2.gl,
.gl-markdown h3.gl,
.gl-markdown h4.gl,
.gl-markdown h5.gl,
.gl-markdown h6.gl
	margin-bottom 20px
	font-weight normal
	color main-color

.gl-markdown p.gl
	font-size 14px
	line-height 1.5em
	margin-bottom 10px

.gl-markdown a.gl
	color main-color

.gl-markdown hr.gl
	border none
	border-bottom 1px solid #ededed
	margin 20px 0 10px

.gl-markdown pre.gl::before,
.gl-markdown .gl-example::before
	position absolute
	left 0
	top 0
	padding 5px 10px
	color main-color
	text-transform uppercase
	font-size 9px
	display block
	border-bottom 1px solid #e1e1e8
	border-right 1px solid #e1e1e8
	border-radius 4px

.gl-markdown code
	padding 2px 4px
	color main-color
	background-color #f9f2f4
	border-radius 4px

.gl-markdown pre.gl
	padding 35px 14px 15px
	margin-bottom 14px
	background-color #f7f7f9
	border 1px solid #e1e1e8
	border-radius 4px
	display block
	color main-color
	font-family Monaco, Consolas, "Courier New", monospace
	font-size 12px
	position relative

.gl-markdown pre.gl:before
	content 'Code'

.gl-markdown pre.gl code
	padding 0
	color inherit
	background-color transparent
	border 0
	font-size inherit

.gl-markdown ul.gl
	list-style-type disc
	padding 10px 45px
	margin-bottom 15px

.gl-markdown ul.gl li
	margin-bottom 5px

.gl-markdown ul.gl a
	color main-color
	text-decoration none

.gl-markdown ul.gl a:hover
	color #d4d2d2

.gl-markdown blockquote.gl
	padding 10px
	border 1px solid #ededed
	border-left 5px solid #1b809e
	margin 0 auto 20px

.gl-markdown blockquote.gl *
	margin 0

.gl-markdown table.gl
	border-bottom 1px solid #ededed
	border-right 1px solid #ededed
	border-collapse collapse

.gl-markdown table.gl td
	padding 15px
	border-top 1px solid #ededed
	border-left 1px solid #ededed
