.g-source

    padding:35px
    background-color:#fff
    max-height:500px
    overflow:auto

    textarea
        font-size:13px
        width:100%
        padding:50px
        background-color: #f5f5f5
        border: 1px solid #cccccc
        overflow:hidden
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace
