@import 'theme'

.btn
	border-radius: 30px
	background-color: main-color
	padding: 15px 40px
	border: 0
	display: block
	color: #fff
	cursor: pointer
	outline: none
	font-size: 15px

	&[disabled]
		background-color: rgba( main-color, .5)
