@import 'theme'

$default
	background-color: main-color
	border: 1px solid transparent
	color: #fff

$inverted
	background-color: transparent
	color: main-color
	border-color: main-color

.btn
	@extends $default
	border-radius: 30px
	padding: 15px 40px
	display: block
	cursor: pointer
	outline: none
	font-size: 15px

	&:hover:not([disabled])
		@extends $inverted

	&[disabled]
		@extends $default
		background-color: rgba( main-color, .5)

	&.-inverted
		@extends $inverted
		&:hover
			background-color: main-color
			color: #fff
