{% set stylus = require('stylus') %}
{% set jeet = require('jeet') %}
{% set fs = require('fs') %}
{% set path = require('path') %}

{% macro style( url ) %}
	{{ local.styles.push( url )}}
{% endmacro %}

{# {% macro javascript( url ) %}
	{{ local.js.push( url )}}
{% endmacro %} #}

{% macro css() %}
	{% set string = [] %}
	{% for styl in local.styles %}
		{{ "" if string.push(fs.readFileSync(path.resolve(__dirname + '/../client/assets/styl/components/' + styl), 'utf8')) }}
	{% endfor %}

	{{ stylus( string.join(''), { compress:true })
		.use( jeet() )
		.set('paths', [path.resolve(__dirname + '/../client/assets/styl')])
		.render()
	}}
{% endmacro %}
