<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Site - Mock up Page - <%=site.title%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
	<link rel="stylesheet" href="/assets/dist/css/pages/home.css" />

	<script type="text/javascript" src="/assets/dist/js/main.min.js" async></script>
</head>

	<body>

		<main class="institucional">
			<header class="header">Header</header>
			<%- site.content %>
		</main>

		<footer class="footer"> Footer </footer>
	</body>
</html>
